**/.vscode*
**/.idea
src/node_modules
src/public/hot
src/public/storage
src/public/[0-9].js
src/public/css/*
src/public/js/*
src/storage/*.key
src/vendor
nginx/*.crt
nginx/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
